.account-menu {
    margin: rem-calc(12) 0 rem-calc(16);
    .bar {
        @include bar;
        &:after {
            border-color: $color-white transparent transparent !important;
        }
    }
    .is-accordion-submenu {
        border-bottom: 1px solid $color-nuetral-light;
        @include breakpoint(large) {
            display: block !important;
        }
        @media screen and #{breakpoint(medium)} and #{breakpoint(mediumhigh down)} {
            display: table !important;
            table-layout: fixed;
            width: 100%;
            li {
                display: table-cell;
                text-align: center;
                width: auto;
                vertical-align: middle;
                a {
                    line-height: 1.25;
                    &:after {
                        display: none !important;
                    }
                }
            }
        }
        li {
            border-top: 1px solid $color-nuetral-light;
            @include transition-standard;
            &.active, &.is-active, &:hover, &:active {
                background-color: $color-secondary;
                a {
                    color: $color-primary;
                }
            }
            a {
                background-color: transparent !important;
                color: $color-nuetral-dark;
                padding: rem-calc(12);
                @include icon-after($icon-caret-right);
                @include icon-after-color($color-primary);
                &:after {
                    float: right;
                }
            }
        }
    }
}

ul.commercial-accounts {
    @include no-bullets-list;
    @include border-bottom-list(8, 2);
    ul.ca-addresses {
        @include no-bullets-list;
        @include grid-row(12, nest);
        margin-bottom: 0;
        li {
            @include grid-column;
            @include breakpoint(medium up) {
                @include grid-column(6);
            }
        }
    }
}

ul.addresses {
    @include no-bullets-list;
    @include border-bottom-list(8, 1);
}

.is-primary {
    color: $color-accent;
    @include icon($icon-check-circle-o);
}

.item-names-header {
    margin-left: 33%;
    padding: 0 0 0 .875rem;
}
@media (min-width: 64em) {
    .item-names-header {
        margin-left: 25%;
    }
}
