<header id="site-header" class="site-header simple" role="banner">
  <div id="masthead" class="masthead">
    <nav
      id="navigation-utilities"
      role="navigation"
      aria-label="Utility Navigation"
    >
      <a href="/" class="logo" aria-label="Logo">
        <img src="/img/logo.png" alt="Music &amp; Arts logo" />
      </a>
    </nav>
    <button
      class="button-right hide-for-mediumhigh"
      data-toggle="off-canvas-right"
    >
      Order Summary
    </button>
  </div>
</header>
