<div class="callout secondary no-padding">
    <ul class="cart-items mini-cart">
        <li class="ng-scope">
            <div class="product" aria-label="Item Details">
                <figure>
                    <a
                        href="/sound-projections-vm-2-with-dual-60-channel-digital-handheld-wireless-systems-main0438438">
                        <img alt="VM-2 with Dual 60-Channel Digital Handheld Wireless Systems Standard"
                            src="../../images/L50591000000000-00-250x250.jpg"
                            class="ae-img">
                    </a>
                </figure>
                <div class="product-info">
                    <p class="name"><a class="ng-binding"
                            href="/sound-projections-vm-2-with-dual-60-channel-digital-handheld-wireless-systems-main0438438">Sound
                            Projections VM-2 with Dual 60-Channel Digital Handheld Wireless
                            Systems</a></p>
                    <ul class="product-additional">
                        <li class="ng-binding ng-scope">Option: Standard
                        </li>
                        <li class="ng-binding"><strong>Quantity:</strong> 1</li>
                    </ul>
                    <p class="availability ng-binding"></p>
                </div>
            </div>
            <p class="total price ng-binding" aria-label="Item Total" ng-bind-html="item.subTotal | fancyCurrency">
                $3,629<sup>.00</sup></p>
        </li>
        <li class="ng-scope">
            <div class="product" aria-label="Item Details">
                <figure>
                    <a href="/yamaha-ycl-csvr-series-professional-bb-clarinet-main0122465">
                        <img alt="YCL-CSVR Series Professional Bb Clarinet Standard"
                            src="../../images/J19128000000000-00-250x250.jpg"
                            class="ae-img">
                    </a>
                </figure>
                <div class="product-info">
                    <p class="name"><a class="ng-binding"
                            href="/yamaha-ycl-csvr-series-professional-bb-clarinet-main0122465">Yamaha
                            YCL-CSVR Series Professional Bb Clarinet</a></p>
                    <ul class="product-additional">
                        <li class="ng-binding ng-scope">Option: Standard
                        </li>
                        <li class="ng-binding"><strong>Quantity:</strong> 1</li>
                    </ul>
                    <p class="availability ng-binding"></p>
                </div>
            </div>
            <p class="total price ng-binding" aria-label="Item Total" ng-bind-html="item.subTotal | fancyCurrency">
                $3,185<sup>.99</sup></p>
        </li>
    </ul>
</div>
<div class="cart-totals">
    <p><span class="ng-binding">2 Item(s) Subtotal</span><strong class="price ng-binding"
            ng-bind-html="cocCtrl.cart.subTotal | fancyCurrency">$6,814<sup>.99</sup></strong>
    </p>
    <p class="ng-scope">
        <span>Shipping</span><strong>TBD</strong></p>
    <p class="ng-scope"><span>Tax</span><strong>TBD*</strong></p>
    <p class="total"><span>Order Total</span><strong class="price ng-binding"
            ng-bind-html="cocCtrl.cart.total | fancyCurrency">$6,814<sup>.99</sup></strong>
    </p>
    <p class="helper ng-scope">*Tax will be based on shipping
        information</p>
</div>