<div class="promo-code">
  <label for="PromoCode" class="ae-label">Have a Promo Code?</label>
  <div class="input-button-inline label-top">
    <div class="input-inline">
      <input
        id="PromoCode"
        type="text"
        placeholder="Enter Promo Code"
        class="ng-pristine ng-untouched ng-valid ng-empty"
        aria-invalid="false"
        data-ae-blurbtype="input"
        data-ae-form-field="true"
      />
    </div>
    <div class="button-inline">
      <button
        disabled="disabled"
        class="ae-button"
        data-ae-blurbtype="button"
        data-ae-form-field="true"
      >
        Apply
      </button>
    </div>
  </div>
</div>
