<div class="pre-footer-bar">
    <div class="row">
        <form name="subscribeEmail" method="post" novalidate accessible-form>
            <div class="email-newsletter-input">
                <input id="EmailForNewsletter" name="emailForNewsletter" type="email"
                    aria-labelledby="email-newletter-title"
                    aria-describedby="email-newsletter-description email_thankyou"
                    placeholder="Email address" required aria-required="true" />
                <button type="submit">Subscribe</button>
            </div>
            <div class="email-newsletter-promo">
                <p id="email-newletter-title" class="h2 large color-white">Sign Up for Our Newsletter</p>
                <p id="email-newsletter-description" class="email-newsletter-description">Sign Up for emails
                    &amp; receive a 10% off coupon!</p>
            </div>
        </form>
        <div class="social" aria-label="Follow Music &amp; Arts on Social Media">
            <ul>
                <li><a class="icon fa-facebook-official" target="_blank" rel="noopener"><span
                            class="show-for-sr">Facebook</span></a></li>
                <li><a class="icon fa-twitter" target="_blank" rel="noopener"><span
                            class="show-for-sr">Twitter</span></a></li>
                <li><a class="icon fa-youtube-play" target="_blank" rel="noopener"><span
                            class="show-for-sr">YouTube</span></a></li>
                <li><a class="icon fa-pinterest-p" target="_blank" rel="noopener"><span
                            class="show-for-sr">Pinterest</span></a></li>
                <li><a class="icon fa-rss" target="_blank" rel="noopener"><span
                            class="show-for-sr">Blog</span></a></li>
            </ul>
        </div>
    </div>
</div>
<footer role="contentinfo" id="footer" tabindex="0">
    <div class="row">
        <div class="contact column">
            <span class="h3" role="heading" id="footer-contact-heading">Contact Us</span>
            <p>
                Customer Service Dept.<br />Music & Arts<br />5295 Westview Dr Suite 300<br />Frederick MD,
                21703-8517<br />
                <a class="phone" href="tel:888-731-5396">888-731-5396</a>
            </p>
            <a id="bbblink" class="ruvtbul bbb-logo"
                href="https://www.bbb.org/greater-maryland/business-reviews/musical-instruments-rental/music-and-arts-in-frederick-md-17011890#bbbseal"
                title="Music & Arts, Musical Instruments  Rental, Frederick, MD"><img id="bbblinkimg"
                    src="https://seal-greatermd.bbb.org/logo/ruvtbul/music-and-arts-17011890.png"
                    alt="Music & Arts, Musical Instruments Rental, Frederick, MD" /></a>
            <a target="_blank"
                title="Click for the Business Review of Guitar Center, located in Westlake Village, CA"
                href="https://caru.bbb.org/general.aspx?id=260733281"><img
                    alt="Click for the BBB Business Review located Westlake Village, CA" style="border: 0;"
                    src="https://caru.bbb.org/seal/guitarcenter-seal-260733281.png" /></a>
        </div>
        <div class="customer-service column">
            <ul class="footer-nav">
                <li>
                    <div class="h3" id="footer-customer-heading">Customer Service</div>
                    <ul aria-labelledby="footer-customer-heading">
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/faq/" target="_self">FAQ</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/educator-faq/" target="_self">Educator
                                FAQ</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/student-resources/"
                                target="_self">Student Resources</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/site-map/" target="_self">Site Map</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/CustomerService/ContactUs"
                                target="_self">Contact Us</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="policies column">
            <ul class="footer-nav">
                <li>
                    <div class="h3" id="footer-policies-heading">Policies &amp; Services</div>
                    <ul aria-labelledby="footer-policies-heading">
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/financing/" target="_self">Financing</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/school-services/" target="_self">School
                                Services</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/institutional-sales/"
                                target="_self">Institutional Sales</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/rental-guides/"
                                target="_self">Rentals</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/lessons/" target="_self">Lessons</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/30-day-price-match-guarantee/"
                                target="_self">Price Match</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/lists/" target="_self">Shopping List</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/gift-certificates/" target="_self">Gift
                                Certificates</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/faq/shipping/"
                                target="_self">Shipping</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/faq/returns-exchanges/"
                                target="_self">Returns</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="about column">
            <ul class="footer-nav">
                <li>
                    <div class="h3" id="footer-about-heading">About Music &amp; Arts</div>
                    <ul aria-labelledby="footer-about-heading">
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/about-us/" target="_self">About Us</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/affiliate-programs/"
                                target="_self">Affiliates</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/encore-rewards-signup/"
                                target="_self">Encore Rewards</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/trade-show-schedule/"
                                target="_self">Tradeshows</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/press-room/" target="_self">Press</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://thevault.musicarts.com/" target="_self">The Vault Blog</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://stores.musicarts.com/" target="_self">Find a Store</a>
                        </li>
                        <li class="is-submenu-item" role="menuitem">
                            <a href="https://www.musicarts.com/cms/employment/" target="_self">Careers</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2020 Music &amp; Arts. All rights reserved.</p>
        <ul>
            <li><a href="https://www.musicarts.com/datarequest">Do Not Sell My Info (CA Only)</a></li>
            <li><a href="https://www.musicarts.com/cms/terms-and-conditions">Terms &amp; Conditions</a></li>
            <li><a href="https://www.musicarts.com/cms/privacy-policy">Privacy Policy</a></li>
            <li><a href="https://www.musicarts.com/cms/accessibility-statement">Accessibility Statement</a>
            </li>
        </ul>
    </div>
</footer>