<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-touch-fullscreen" content="no" />
<title>
  Largest Retail Chain of Band &amp; Orchestral Instruments | Music & Arts
</title>
<meta name="description"
  content="Music &amp; Arts is an online music store that also offers instrument rentals, music lessons &amp; instrument repair at their locations nationwide." />
<!-- <base href="/" /> -->
<link rel="canonical" href="https://www.musicarts.com" />
<link id="Favicon" rel="SHORTCUT ICON" href="https://www.musicarts.com/dist/img/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" async />
<link href="/public/css/app.css" rel="stylesheet" />

<script src="/public/lib/jquery.min.js"></script>
<script src="/public/lib/foundation.min.js"></script>
<script src="/public/lib/slick.min.js"></script>

<script src="/public/lib/jquery.validate.js"></script>
<script src="/public/lib/additional-methods.js"></script>
<!-- <script src="/public/module/validate.js"></script> -->
<script src="/public/static.ma.js"></script>