<aside aria-label="Shopping Cart" class="off-canvas position-right is-transition-overlap is-closed"
id="off-canvas-right" data-off-canvas="" aria-hidden="false" data-e="xgi0n8-e" role="presentation">
<div class="mini-cart-spinner" style="display: none;">
    <div class="spinner-content">
        <object type="image/svg+xml" class="spinner ae-media" data="/dist/img/spinner.svg"
            data-player-url="/dist/img/spinner.svg"><span class="ae-compliance-indent"
                style="display:none;"> loading spinner</span></object>
        <div class="spinner-message">Loading</div>
    </div>
</div>
<div class="cart-summary">
    <div class="items ng-scope">
        <span class="count ng-binding">2</span> Items
    </div>
    <div class="cart-summary-actions ng-scope">
        <a target="_self" class="button" href="/cart">View Cart</a>
        <a target="_self" class="button primary" href="/cart/checkout">Checkout</a>
    </div>
    <button class="close-button ae-button" aria-label="Close menu" type="button" data-close=""
        data-ae-blurbtype="button" data-ae-form-field="true">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="callout secondary no-padding">
    <ul class="cart-items mini-cart">
        <li class="ng-scope">
            <div class="product" aria-label="Item Details">
                <figure>
                    <a href="/sound-projections-vm-2-with-dual-60-channel-digital-handheld-wireless-systems-main0438438"
                        aria-hidden="false">
                        <img alt="VM-2 with Dual 60-Channel Digital Handheld Wireless Systems Standard"
                            src="//media.musicarts.com/is/image/MMGS7/Sound-Projections-Standard/L50591000000000-00-250x250.jpg"
                            class="ae-img">
                    </a>
                    <img alt="Standard"
                        src="//media.musicarts.com/is/image/MMGS7/Sound-Projections-Standard/L50591000000000-00-250x250.jpg"
                        aria-hidden="true" class="ng-hide ae-img">
                </figure>
                <div class="product-info">
                    <p class="name">
                        <a class="ng-binding"
                            href="/sound-projections-vm-2-with-dual-60-channel-digital-handheld-wireless-systems-main0438438"
                            aria-hidden="false">Sound Projections VM-2 with Dual 60-Channel Digital
                            Handheld Wireless Systems - Standard</a>
                        <span class="ng-binding ng-hide" aria-hidden="true">Standard</span>
                    </p>
                    <ul class="product-additional" aria-hidden="false" role="presentation">
                        <li class="ng-binding"><strong>Quantity:</strong> 1</li>
                    </ul>
                </div>
            </div>
            <p class="total price ng-binding" aria-label="Item Total">$3,629<sup>.00</sup></p>
        </li>
        <li class="ng-scope">
            <div class="product" aria-label="Item Details">
                <figure>
                    <a href="/yamaha-ycl-csvr-series-professional-bb-clarinet-main0122465"
                        aria-hidden="false">
                        <img alt="YCL-CSVR Series Professional Bb Clarinet Standard"
                            src="//media.musicarts.com/is/image/MMGS7/Yamaha-Standard/J19128000000000-00-250x250.jpg"
                            class="ae-img">
                    </a>
                    <img alt="Standard"
                        src="//media.musicarts.com/is/image/MMGS7/Yamaha-Standard/J19128000000000-00-250x250.jpg"
                        aria-hidden="true" class="ng-hide ae-img">
                </figure>
                <div class="product-info">
                    <p class="name">
                        <a class="ng-binding"
                            href="/yamaha-ycl-csvr-series-professional-bb-clarinet-main0122465"
                            aria-hidden="false">Yamaha YCL-CSVR Series Professional Bb Clarinet -
                            Standard</a>
                        <span class="ng-binding ng-hide" aria-hidden="true">Standard</span>
                    </p>
                    <ul class="product-additional" aria-hidden="false" role="presentation">
                        <li class="ng-binding"><strong>Quantity:</strong> 1</li>
                    </ul>
                </div>
            </div>
            <p class="total price ng-binding" aria-label="Item Total">$3,185<sup>.99</sup></p>
        </li>
    </ul>
</div>
<div class="cart-totals ng-scope">
    <p><span class="ng-binding">2 Item(s) Total</span><strong
            class="price ng-binding">$6,814<sup>.99</sup></strong></p>
</div>
<div class="mini-cart-actions ng-scope">
    <div class="column"><a target="_self" class="button" href="/cart">View Cart</a></div>
    <div class="column"><a target="_self" class="button primary" href="/cart/checkout">Checkout</a></div>
</div>
</aside>