<div class="row">
  <section id="cart" class="content cart" aria-labelledby="page-title">
    <header class="header-with-buttons" role="presentation">
      <div class="content">
        <h1 id="page-title" role="heading" aria-level="1" class="ae-label">
          Shopping Cart
        </h1>
        <p>
          <strong class="ng-binding"
            >2 Item(s) -
            <span class="ng-binding">$6,814<sup>.99</sup></span></strong
          >
        </p>
      </div>
      <div class="header-buttons">
        <div class="button-group">
          <a class="button" href="/">Continue Shopping</a>
          <button
            type="button"
            class="ng-scope ae-button"
            data-ae-blurbtype="button"
            data-ae-form-field="true"
          >
            Save as Shopping List
          </button>
          <a class="button button-primary ng-scope" href="/cart/checkout"
            >Checkout</a
          >
          <p class="helper info ng-scope">
            Save this cart to make your purchase later, or share it with another
            account.
          </p>
        </div>
      </div>
    </header>
    <div class="cart-items-header">
      <div id="items-header" class="items-header ae-label">Your Items</div>
      <div class="cost-info">
        <div id="unit-price-header" class="unit-price-header ae-label">
          Unit Price
        </div>
        <div id="quantity-header" class="quantity-header ae-label">
          Quantity
        </div>
        <div id="total-header" class="total-header ae-label">Total Price</div>
      </div>
    </div>
    <ul class="cart-items ng-scope">
      <li class="ng-scope">
        <div class="product" aria-labelledby="items-header">
          <figure>
            <a
              href="/sound-projections-vm-2-with-dual-60-channel-digital-handheld-wireless-systems-main0438438"
              aria-hidden="false"
            >
              <img
                alt="VM-2 with Dual 60-Channel Digital Handheld Wireless Systems Standard"
                src="/images/L50591000000000-00-250x250.jpg"
                class="ae-img"
              />
            </a>
          </figure>
          <div class="product-info">
            <p class="name">
              <a
                class="ng-binding"
                href="/sound-projections-vm-2-with-dual-60-channel-digital-handheld-wireless-systems-main0438438"
                aria-hidden="false"
                >Sound Projections VM-2 with Dual 60-Channel Digital Handheld
                Wireless Systems</a
              >
            </p>
            <ul class="product-numbers" aria-hidden="false">
              <li class="ng-binding">Item # 1479894</li>
              <li class="ng-binding">Model # VM2D-HH-HH</li>
            </ul>
            <ul class="product-additional" aria-hidden="false">
              <li class="ng-binding"><strong>Condition:</strong> New</li>
              <li class="ng-binding"><strong>Option:</strong> Standard</li>
            </ul>
            <p
              class="availability ng-binding"
              aria-label="Product availability"
              aria-hidden="false"
            >
              Available Soon. Order Now
            </p>
          </div>
        </div>
        <div class="cost-info">
          <div class="unit-price" aria-labelledby="unit-price-header">
            <p class="price ng-binding">$3,629<sup>.00</sup></p>
          </div>
          <div class="quantity" aria-labelledby="quantity-header">
            <item-quantity-selector
              item="item"
              allow-edit="!item.isUnavailable"
              quantity="item.quantity"
              onchangeqty="cartCtrl.updateItemQuantity(item.id, item.quantity)"
              ondelete="cartCtrl.removeItem(item.id)"
              class="ng-isolate-scope"
              aria-hidden="false"
            >
              <select
                id="qtySelectorSelect-8dd02db873f245d88dd606829b6e9bf4"
                class="ng-pristine ng-untouched ng-valid ng-not-empty"
                aria-hidden="false"
                aria-invalid="false"
                data-ae-blurbtype="select"
                data-ae-form-field="true"
              >
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10+</option>
              </select>
              <input
                id="qtySelectorInput-8dd02db873f245d88dd606829b6e9bf4"
                type="text"
                required=""
                class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required is-hidden"
                aria-hidden="false"
                aria-invalid="false"
                data-ae-blurbtype="input"
                data-ae-form-field="true"
              />
              <p class="ng-scope">
                <button
                  class="remove link ae-button"
                  aria-hidden="false"
                  aria-label="Remove Promo Code"
                  data-ae-blurbtype="button"
                  data-ae-form-field="true"
                >
                  Remove
                </button>
              </p>
            </item-quantity-selector>
          </div>
          <p class="total price ng-binding" aria-labelledby="total-header">
            $3,629<sup>.00</sup>
          </p>
        </div>
      </li>
      <li class="ng-scope">
        <div class="product" aria-labelledby="items-header">
          <figure>
            <a
              href="/yamaha-ycl-csvr-series-professional-bb-clarinet-main0122465"
              aria-hidden="false"
            >
              <img
                alt="YCL-CSVR Series Professional Bb Clarinet Standard"
                src="/images/J19128000000000-00-250x250.jpg"
                class="ae-img"
              />
            </a>
          </figure>
          <div class="product-info">
            <p class="name">
              <a
                class="ng-binding"
                href="/yamaha-ycl-csvr-series-professional-bb-clarinet-main0122465"
                aria-hidden="false"
                >Yamaha YCL-CSVR Series Professional Bb Clarinet</a
              >
            </p>
            <ul class="product-numbers" aria-hidden="false">
              <li class="ng-binding">Item # 0209209</li>
              <li class="ng-binding">Model # YCL-CSVR</li>
            </ul>
            <ul class="product-additional" aria-hidden="false">
              <li class="ng-binding"><strong>Condition:</strong> New</li>
              <li class="ng-binding"><strong>Option:</strong> Standard</li>
            </ul>
            <p
              class="availability ng-binding"
              aria-label="Product availability"
              aria-hidden="false"
            >
              In stock
            </p>
          </div>
        </div>
        <div class="cost-info">
          <div class="unit-price" aria-labelledby="unit-price-header">
            <p class="price ng-binding">$3,185<sup>.99</sup></p>
          </div>
          <div class="quantity" aria-labelledby="quantity-header">
            <select
              id="qtySelectorSelect-1bb4035658204c2584208633904f0b86"
              class="ng-pristine ng-untouched ng-valid ng-not-empty"
              aria-hidden="false"
              aria-invalid="false"
              data-ae-blurbtype="select"
              data-ae-form-field="true"
            >
              <option value="1" selected="selected">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10+</option>
            </select>
            <input
              id="qtySelectorInput-1bb4035658204c2584208633904f0b86"
              type="text"
              required=""
              class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required is-hidden"
              aria-hidden="false"
              aria-invalid="false"
              data-ae-blurbtype="input"
              data-ae-form-field="true"
            />
            <p class="ng-scope">
              <button
                class="remove link ae-button"
                aria-hidden="false"
                aria-label="Remove Promo Code"
                data-ae-blurbtype="button"
                data-ae-form-field="true"
              >
                Remove
              </button>
            </p>
          </div>
          <p class="total price ng-binding" aria-labelledby="total-header">
            $3,185<sup>.99</sup>
          </p>
        </div>
      </li>
      <li
        ng-repeat="item in cartCtrl.cart.items"
        class="ng-scope"
        role="presentation"
      >
        <div class="product" aria-labelledby="items-header">
          <figure>
            <a
              ng-href=""
              ng-show="item.productUrl"
              aria-hidden="true"
              class="ng-hide"
            >
              <img
                ng-src="/dist/img/rentals/Trumpet &amp; Cornet.jpg"
                alt="Trumpet &amp; Cornet Online Rental"
                src="/images/Trumpet & Cornet.jpg"
                class="ae-img"
              />
            </a>
          </figure>
          <div class="product-info">
            <p class="name">
              <a
                ng-show="item.productUrl"
                ng-href=""
                class="ng-binding ng-hide"
                aria-hidden="true"
              >
                Trumpet &amp; Cornet</a
              >
              <span
                ng-hide="item.productUrl"
                class="ng-binding"
                aria-hidden="false"
                >Online Rental</span
              >
            </p>
            <ul
              class="product-numbers ng-hide"
              ng-hide="item.isRental"
              aria-hidden="true"
            >
              <li class="ng-binding">Item # Rental</li>
              <li class="ng-binding">Model #</li>
            </ul>
            <ul
              class="product-additional ng-hide"
              ng-hide="item.isRental"
              aria-hidden="true"
            >
              <li class="ng-binding"><strong>Condition:</strong> New</li>
              <li class="ng-binding"><strong>Option:</strong> Online Rental</li>
            </ul>
            <p
              class="availability ng-binding ng-hide"
              ng-hide="item.isRental"
              ng-class="{'urgent': item.isUnavailable }"
              aria-label="Product availability"
              aria-hidden="true"
            ></p>

            <!-- ngRepeat: rebate in item.rebates -->

            <!-- ngIf: item.discounts && item.discounts.length > 0 -->
          </div>
        </div>
        <div class="cost-info">
          <div class="unit-price" aria-labelledby="unit-price-header">
            <p
              class="price ng-binding"
              ng-bind-html="item.listPrice | fancyCurrency"
            >
              $28<sup>.00</sup>
            </p>
            <!-- <p class="list" ng-if="item.msrp > item.listPrice">List <span class="price strikethrough" ng-bind-html="item.msrp | fancyCurrency"></span></p> -->
          </div>
          <div class="quantity" aria-labelledby="quantity-header">
            <item-quantity-selector
              item="item"
              allow-edit="!item.isUnavailable"
              ng-hide="item.isRental"
              quantity="item.quantity"
              onchangeqty="cartCtrl.updateItemQuantity(item.id, item.quantity)"
              ondelete="cartCtrl.removeItem(item.id)"
              class="ng-isolate-scope ng-hide"
              aria-hidden="true"
            >
              <!-- AddItemQuantitySelector -->
              <select
                id="qtySelectorSelect-ace632cdc9124132bfbf46d723642739"
                ng-show="allowEdit"
                ng-model="quantity"
                ng-disabled="isDisabled"
                ng-class="{ 'is-hidden' : ! (quantity < 10 &amp;&amp; !isHidden) }"
                ng-change="selectChange('1')"
                ng-debounce=""
                class="ng-pristine ng-untouched ng-valid ng-not-empty"
                aria-hidden="false"
                aria-invalid="false"
                data-ae-blurbtype="select"
                data-ae-form-field="true"
              >
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10+</option>
              </select>
              <input
                id="qtySelectorInput-ace632cdc9124132bfbf46d723642739"
                ng-show="allowEdit"
                type="text"
                ng-model="textQuantity"
                ng-disabled="isDisabled"
                ng-class="{ 'is-hidden' : ! (quantity > 9 || isHidden) }"
                ng-change="inputChange('1')"
                ng-blur="inputBlur(textQuantity)"
                ng-focus="isDirty"
                ng-trim="false"
                ng-debounce=""
                required=""
                class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required is-hidden"
                aria-hidden="false"
                aria-invalid="false"
                data-ae-blurbtype="input"
                data-ae-form-field="true"
              />
              <p ng-hide="allowEdit" aria-hidden="true" class="ng-hide">
                <b class="ng-binding">1</b>
              </p>

              <!-- ngIf: !isHidden -->
              <p ng-if="!isHidden" class="ng-scope">
                <button
                  class="remove link ae-button"
                  ng-click="ondelete()"
                  ng-show="!isDirty &amp;&amp; allowDelete"
                  aria-hidden="false"
                  data-ae-blurbtype="button"
                  data-ae-form-field="true"
                  aria-label="Remove Promo Code"
                >
                  Remove
                </button>
                <button
                  class="link ng-hide ae-button"
                  ng-click="saveChange(textQuantity)"
                  ng-show="allowEdit &amp;&amp; isDirty"
                  aria-hidden="true"
                  data-ae-blurbtype="button"
                  data-ae-form-field="true"
                >
                  Update
                </button>
              </p>
              <!-- end ngIf: !isHidden -->
              <!-- /AddItemQuantitySelector -->
            </item-quantity-selector>
            <span ng-show="item.isRental" aria-hidden="false">
              <b class="ng-binding">1</b><br />
              <button
                class="remove link ae-button"
                ng-click="cartCtrl.removeItem(item.id)"
                data-ae-blurbtype="button"
                data-ae-form-field="true"
                aria-label="Remove Promo Code"
              >
                Remove
              </button>
            </span>
          </div>
          <p
            class="total price ng-binding"
            aria-labelledby="total-header"
            ng-bind-html="item.subTotal | fancyCurrency"
          >
            $28<sup>.00</sup>
          </p>
        </div>
        <div
          class="product-components-container"
          ng-show="item.isRental"
          aria-hidden="false"
        >
          <div class="product-components">
            <div class="h2 bar secondary">Items included:</div>
            <ul class="cart-items">
              <!-- ngRepeat: component in item.rentalComponents -->
              <li
                ng-repeat="component in item.rentalComponents"
                class="ng-scope"
              >
                <div class="product">
                  <div class="product-info">
                    <p class="name ng-binding">
                      Trumpet &amp; Cornet
                    </p>
                  </div>
                  <!-- ngIf: component.discounts && component.discounts.length > 0 -->
                </div>
                <div
                  class="cost-info ng-hide"
                  ng-hide="component.componentType === 'instrument'"
                  aria-hidden="true"
                >
                  <div class="unit-price">
                    <p
                      class="price ng-binding"
                      ng-bind-html="component.unitPrice | fancyCurrency"
                    >
                      $0<sup>.00</sup>
                    </p>
                  </div>
                  <div class="quantity" aria-labelledby="quantity-header">
                    <item-quantity-selector
                      item="component"
                      quantity="component.quantity"
                      allow-edit="cartCtrl.canEditComponent(component)"
                      allow-delete="cartCtrl.canDeleteComponent(component)"
                      onchangeqty="cartCtrl.updateRentalComponentQuantity(component, component.quantity)"
                      ondelete="cartCtrl.removeRentalComponent(component)"
                      class="ng-isolate-scope"
                    >
                      <!-- AddItemQuantitySelector -->
                      <select
                        id="qtySelectorSelect-10ff44cd41fa4edba19784e068b66f0a"
                        ng-show="allowEdit"
                        ng-model="quantity"
                        ng-disabled="isDisabled"
                        ng-class="{ 'is-hidden' : ! (quantity < 10 &amp;&amp; !isHidden) }"
                        ng-change="selectChange('1')"
                        ng-debounce=""
                        class="ng-pristine ng-untouched ng-valid ng-not-empty ng-hide"
                        aria-hidden="true"
                        aria-invalid="false"
                        data-ae-blurbtype="select"
                        data-ae-form-field="true"
                      >
                        <option value="1" selected="selected">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10+</option>
                      </select>
                      <input
                        id="qtySelectorInput-10ff44cd41fa4edba19784e068b66f0a"
                        ng-show="allowEdit"
                        type="text"
                        ng-model="textQuantity"
                        ng-disabled="isDisabled"
                        ng-class="{ 'is-hidden' : ! (quantity > 9 || isHidden) }"
                        ng-change="inputChange('1')"
                        ng-blur="inputBlur(textQuantity)"
                        ng-focus="isDirty"
                        ng-trim="false"
                        ng-debounce=""
                        required=""
                        class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-hide is-hidden"
                        aria-hidden="true"
                        aria-invalid="false"
                        data-ae-blurbtype="input"
                        data-ae-form-field="true"
                      />
                      <p ng-hide="allowEdit" aria-hidden="false">
                        <b class="ng-binding">1</b>
                      </p>

                      <!-- ngIf: !isHidden -->
                      <p ng-if="!isHidden" class="ng-scope">
                        <button
                          class="remove link ng-hide ae-button"
                          ng-click="ondelete()"
                          ng-show="!isDirty &amp;&amp; allowDelete"
                          aria-hidden="true"
                          data-ae-blurbtype="button"
                          data-ae-form-field="true"
                          aria-label="Remove Promo Code"
                        >
                          Remove
                        </button>
                        <button
                          class="link ng-hide ae-button"
                          ng-click="saveChange(textQuantity)"
                          ng-show="allowEdit &amp;&amp; isDirty"
                          aria-hidden="true"
                          data-ae-blurbtype="button"
                          data-ae-form-field="true"
                        >
                          Update
                        </button>
                      </p>
                      <!-- end ngIf: !isHidden -->
                      <!-- /AddItemQuantitySelector -->
                    </item-quantity-selector>
                  </div>
                  <div class="total price" aria-labelledby="total-header">
                    <div
                      ng-show="!component.unitPrice"
                      class="allcaps"
                      aria-hidden="false"
                    >
                      Free
                    </div>
                    <div
                      ng-show="component.unitPrice"
                      ng-bind-html="component.subTotal | fancyCurrency"
                      class="ng-binding ng-hide"
                      aria-hidden="true"
                    >
                      $0<sup>.00</sup>
                    </div>
                  </div>
                </div>
              </li>
              <!-- end ngRepeat: component in item.rentalComponents -->
              <li
                ng-repeat="component in item.rentalComponents"
                class="ng-scope"
              >
                <div class="product">
                  <div class="product-info">
                    <p class="name ng-binding">
                      1 Month Trial Period
                    </p>
                  </div>
                  <!-- ngIf: component.discounts && component.discounts.length > 0 -->
                </div>
                <div
                  class="cost-info"
                  ng-hide="component.componentType === 'instrument'"
                  aria-hidden="false"
                >
                  <div class="unit-price">
                    <p
                      class="price ng-binding"
                      ng-bind-html="component.unitPrice | fancyCurrency"
                    >
                      $22<sup>.00</sup>
                    </p>
                  </div>
                  <div class="quantity" aria-labelledby="quantity-header">
                    <item-quantity-selector
                      item="component"
                      quantity="component.quantity"
                      allow-edit="cartCtrl.canEditComponent(component)"
                      allow-delete="cartCtrl.canDeleteComponent(component)"
                      onchangeqty="cartCtrl.updateRentalComponentQuantity(component, component.quantity)"
                      ondelete="cartCtrl.removeRentalComponent(component)"
                      class="ng-isolate-scope"
                    >
                      <!-- AddItemQuantitySelector -->
                      <select
                        id="qtySelectorSelect-14a1a7022326462faf0187d4d9cf6b01"
                        ng-show="allowEdit"
                        ng-model="quantity"
                        ng-disabled="isDisabled"
                        ng-class="{ 'is-hidden' : ! (quantity < 10 &amp;&amp; !isHidden) }"
                        ng-change="selectChange('1')"
                        ng-debounce=""
                        class="ng-pristine ng-untouched ng-valid ng-not-empty ng-hide"
                        aria-hidden="true"
                        aria-invalid="false"
                        data-ae-blurbtype="select"
                        data-ae-form-field="true"
                      >
                        <option value="1" selected="selected">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10+</option>
                      </select>
                      <input
                        id="qtySelectorInput-14a1a7022326462faf0187d4d9cf6b01"
                        ng-show="allowEdit"
                        type="text"
                        ng-model="textQuantity"
                        ng-disabled="isDisabled"
                        ng-class="{ 'is-hidden' : ! (quantity > 9 || isHidden) }"
                        ng-change="inputChange('1')"
                        ng-blur="inputBlur(textQuantity)"
                        ng-focus="isDirty"
                        ng-trim="false"
                        ng-debounce=""
                        required=""
                        class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-hide is-hidden"
                        aria-hidden="true"
                        aria-invalid="false"
                        data-ae-blurbtype="input"
                        data-ae-form-field="true"
                      />
                      <p ng-hide="allowEdit" aria-hidden="false">
                        <b class="ng-binding">1</b>
                      </p>

                      <!-- ngIf: !isHidden -->
                      <p ng-if="!isHidden" class="ng-scope">
                        <button
                          class="remove link ng-hide ae-button"
                          ng-click="ondelete()"
                          ng-show="!isDirty &amp;&amp; allowDelete"
                          aria-hidden="true"
                          data-ae-blurbtype="button"
                          data-ae-form-field="true"
                          aria-label="Remove Promo Code"
                        >
                          Remove
                        </button>
                        <button
                          class="link ng-hide ae-button"
                          ng-click="saveChange(textQuantity)"
                          ng-show="allowEdit &amp;&amp; isDirty"
                          aria-hidden="true"
                          data-ae-blurbtype="button"
                          data-ae-form-field="true"
                        >
                          Update
                        </button>
                      </p>
                      <!-- end ngIf: !isHidden -->
                      <!-- /AddItemQuantitySelector -->
                    </item-quantity-selector>
                  </div>
                  <div class="total price" aria-labelledby="total-header">
                    <div
                      ng-show="!component.unitPrice"
                      class="allcaps ng-hide"
                      aria-hidden="true"
                    >
                      Free
                    </div>
                    <div
                      ng-show="component.unitPrice"
                      ng-bind-html="component.subTotal | fancyCurrency"
                      class="ng-binding"
                      aria-hidden="false"
                    >
                      $22<sup>.00</sup>
                    </div>
                  </div>
                </div>
              </li>
              <!-- end ngRepeat: component in item.rentalComponents -->
              <li
                ng-repeat="component in item.rentalComponents"
                class="ng-scope"
              >
                <div class="product">
                  <div class="product-info">
                    <p class="name ng-binding">
                      Liability Damage Waiver (LDW)
                    </p>
                  </div>
                  <!-- ngIf: component.discounts && component.discounts.length > 0 -->
                </div>
                <div
                  class="cost-info"
                  ng-hide="component.componentType === 'instrument'"
                  aria-hidden="false"
                >
                  <div class="unit-price">
                    <p
                      class="price ng-binding"
                      ng-bind-html="component.unitPrice | fancyCurrency"
                    >
                      $6<sup>.00</sup>
                    </p>
                  </div>
                  <div class="quantity" aria-labelledby="quantity-header">
                    <item-quantity-selector
                      item="component"
                      quantity="component.quantity"
                      allow-edit="cartCtrl.canEditComponent(component)"
                      allow-delete="cartCtrl.canDeleteComponent(component)"
                      onchangeqty="cartCtrl.updateRentalComponentQuantity(component, component.quantity)"
                      ondelete="cartCtrl.removeRentalComponent(component)"
                      class="ng-isolate-scope"
                    >
                      <!-- AddItemQuantitySelector -->
                      <select
                        id="qtySelectorSelect-8fbc53bc801f454590eb2e2ad3560609"
                        ng-show="allowEdit"
                        ng-model="quantity"
                        ng-disabled="isDisabled"
                        ng-class="{ 'is-hidden' : ! (quantity < 10 &amp;&amp; !isHidden) }"
                        ng-change="selectChange('1')"
                        ng-debounce=""
                        class="ng-pristine ng-untouched ng-valid ng-not-empty ng-hide"
                        aria-hidden="true"
                        aria-invalid="false"
                        data-ae-blurbtype="select"
                        data-ae-form-field="true"
                      >
                        <option value="1" selected="selected">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10+</option>
                      </select>
                      <input
                        id="qtySelectorInput-8fbc53bc801f454590eb2e2ad3560609"
                        ng-show="allowEdit"
                        type="text"
                        ng-model="textQuantity"
                        ng-disabled="isDisabled"
                        ng-class="{ 'is-hidden' : ! (quantity > 9 || isHidden) }"
                        ng-change="inputChange('1')"
                        ng-blur="inputBlur(textQuantity)"
                        ng-focus="isDirty"
                        ng-trim="false"
                        ng-debounce=""
                        required=""
                        class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-hide is-hidden"
                        aria-hidden="true"
                        aria-invalid="false"
                        data-ae-blurbtype="input"
                        data-ae-form-field="true"
                      />
                      <p ng-hide="allowEdit" aria-hidden="false">
                        <b class="ng-binding">1</b>
                      </p>

                      <!-- ngIf: !isHidden -->
                      <p ng-if="!isHidden" class="ng-scope">
                        <button
                          class="remove link ae-button"
                          ng-click="ondelete()"
                          ng-show="!isDirty &amp;&amp; allowDelete"
                          aria-hidden="false"
                          data-ae-blurbtype="button"
                          data-ae-form-field="true"
                          aria-label="Remove Promo Code"
                        >
                          Remove
                        </button>
                        <button
                          class="link ng-hide ae-button"
                          ng-click="saveChange(textQuantity)"
                          ng-show="allowEdit &amp;&amp; isDirty"
                          aria-hidden="true"
                          data-ae-blurbtype="button"
                          data-ae-form-field="true"
                        >
                          Update
                        </button>
                      </p>
                      <!-- end ngIf: !isHidden -->
                      <!-- /AddItemQuantitySelector -->
                    </item-quantity-selector>
                  </div>
                  <div class="total price" aria-labelledby="total-header">
                    <div
                      ng-show="!component.unitPrice"
                      class="allcaps ng-hide"
                      aria-hidden="true"
                    >
                      Free
                    </div>
                    <div
                      ng-show="component.unitPrice"
                      ng-bind-html="component.subTotal | fancyCurrency"
                      class="ng-binding"
                      aria-hidden="false"
                    >
                      $6<sup>.00</sup>
                    </div>
                  </div>
                </div>
              </li>
              <!-- end ngRepeat: component in item.rentalComponents -->
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <hr class="heavy tight" />
    <div class="row">
      <div class="cart-extras ng-scope">
        <div class="columns medium-4 medium-push-8">
          <div class="cart-totals">
            <p>
              <span class="ng-binding">2 Item(s) Subtotal</span
              ><strong class="price ng-binding">$6,814<sup>.99</sup></strong>
            </p>
            <p class="total">
              <span>Order Total</span
              ><strong class="price ng-binding">$6,814<sup>.99</sup></strong>
            </p>
          </div>
          <a class="button button-primary expanded" href="/cart/checkout"
            >Checkout</a
          >
          <a class="button expanded show-for-small-only" href="/"
            >Continue Shopping</a
          >
          <button
            type="button"
            class="expanded ng-scope ae-button"
            data-ae-blurbtype="button"
            data-ae-form-field="true"
          >
            Save as Shopping List
          </button>
          <p class="helper info ng-scope">
            Save this cart to make your purchase later, or share it with another
            account.
          </p>
        </div>
        <div class="columns medium-8 medium-pull-4">
          <div class="row">
            <div class="columns">
              <dynamic-content name="CART_FOOTER" class="ng-isolate-scope">
              </dynamic-content>
            </div>
          </div>
          <div class="row">
            <div class="columns medium-6 end">
              <div class="promo-code">
                <label for="PromoCode" class="ae-label"
                  >Have a Promo Code?</label
                >
                <div class="columns promo-code-form">
                  <div class="form-input">
                    <input
                      id="PromoCode"
                      type="text"
                      placeholder="Enter Promo Code"
                      class="ng-pristine ng-untouched ng-valid ng-empty"
                      aria-invalid="false"
                      data-ae-blurbtype="input"
                      data-ae-form-field="true"
                    />
                  </div>
                  <div class="form-button">
                    <button
                      class="expanded ae-button"
                      disabled="disabled"
                      data-ae-blurbtype="button"
                      data-ae-form-field="true"
                    >
                      Apply
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <p>
                For Assistance Call
                <a href="tel:888-731-5396" class="ng-binding">888-731-5396</a
                >&nbsp;
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
