<div class="row">
  <div class="content">
    <nav role="navigation">
      <ul class="breadcrumbs" aria-label="You are here:">
        <li><a ui-sref="orders" href="/account/orders">Account</a></li>
        <li class="ng-scope"><span class="current">Shopping Lists</span></li>
      </ul>
    </nav>

    <div class="row" aria-labelledby="page-title">
      <aside class="columns large-3">
        <h1
          id="page-title"
          class="show-for-medium ae-label"
          role="heading"
          aria-level="2"
        >
          Account
        </h1>
        <nav role="navigation">
          <ul
            class="vertical menu accordion-menu account-menu"
            data-accordion-menu=""
            aria-multiselectable="true"
            data-e="57g4iz-e"
            role="presentation"
          >
            <li
              class="is-accordion-submenu-parent ae-label"
              role="presentation"
              aria-controls="r5f68c-acc-menu"
              aria-expanded="false"
              id="97cr12-acc-menu-link"
            >
              <a
                role="button"
                tabindex="0"
                class="show-for-small-only bar arrow"
                id="account-menu"
                >Account</a
              >
              <ul
                class="menu vertical is-accordion-submenu submenu"
                data-submenu=""
                aria-labelledby="97cr12-acc-menu-link"
                aria-hidden="false"
                id="r5f68c-acc-menu"
                style="display: none;"
              >
                <li class="is-submenu-item is-accordion-submenu-item ng-scope">
                  <a ui-sref="orders" href="/account/orders"
                    >Orders &amp; Tracking</a
                  >
                </li>
                <li class="is-submenu-item is-accordion-submenu-item ng-scope">
                  <a ui-sref="shoppingLists" href="/account/shopping-lists"
                    >Shopping Lists</a
                  >
                </li>
                <li class="is-submenu-item is-accordion-submenu-item ng-scope">
                  <a
                    ui-sref="addressesAndPayment"
                    href="/account/addresses-and-payment"
                    >Address &amp; Payment</a
                  >
                </li>
                <li class="is-submenu-item is-accordion-submenu-item ng-scope">
                  <a ui-sref="accountInfo" href="/account/account-info"
                    >Account Info</a
                  >
                </li>
                <li
                  class="is-submenu-item is-accordion-submenu-item ng-scope active"
                  aria-hidden="true"
                >
                  <a
                    ui-sref="commercialAccounts"
                    href="/account/commercial-accounts"
                  >
                    Commercial Accounts
                  </a>
                </li>
                <li class="is-submenu-item is-accordion-submenu-item ng-scope">
                  <a ui-sref="support" href="/account/support">Support</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </aside>

      <section class="columns large-9" aria-labelledby="view-title">
        <header class="m-b-1">
          <h2 class="highlight" id="view-title">Commercial Accounts</h2>
          <p>
            Your online account is associated with the following commercial
            accounts.
          </p>
        </header>
        <section>
          <ul class="commercial-accounts">
            <li ng-repeat="(accountId, addresses) in $ctrl.accountsById">
              <h4>Commercial Account #{{ accountId }}</h4>
              <p class="helper" ng-show="$ctrl.customer.isTaxExempt">
                (Tax Exempt)
              </p>
              <ul class="ca-addresses">
                <li ng-repeat="address in addresses">
                  <!-- user-address-template -->
                  <div ng-show="$ctrl.address">
                    <p class="address">
                      <span
                        >{{ $ctrl.address.firstName }} {{ $ctrl.address.lastName
                        }}</span
                      >
                      <span>{{ $ctrl.address.companyName }}</span>
                      <span
                        >{{ $ctrl.address.line1 || $ctrl.address.addressLine1 ||
                        $ctrl.address.address1 }}</span
                      >
                      <span
                        >{{ $ctrl.address.line2 || $ctrl.address.addressLine2 ||
                        $ctrl.address.address2 }}</span
                      >
                      <span
                        >{{ $ctrl.address.city }}, {{ $ctrl.address.state ||
                        $ctrl.address.stateOrProvince ||
                        $ctrl.address.regionId}} {{ $ctrl.address.zipCode ||
                        $ctrl.address.postalCode }}</span
                      >
                      <span>{{ $ctrl.address.country }}</span>
                      <span>{{ $ctrl.address.phone | tel }}</span>
                      <span class="truncate"
                        >{{ $ctrl.address.email || $ctrl.address.emailAddress
                        }}</span
                      >
                    </p>
                  </div>
                  <!-- /user-address-template -->
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </div>
</div>
