<div id="main" class="main" role="main">
  <div class="row">
    <div class="content">
      <nav role="navigation">
        <ul class="breadcrumbs" aria-label="You are here:">
          <li><a ui-sref="orders" href="/account/orders">Account</a></li>
          <li class="ng-scope"><span class="current">Shopping Lists</span></li>
        </ul>
      </nav>
      <div class="row" aria-labelledby="page-title">
        <aside class="columns large-3">
          <h1
            id="page-title"
            class="show-for-medium ae-label"
            role="heading"
            aria-level="2"
          >
            Account
          </h1>
          <nav role="navigation">
            <ul
              class="vertical menu accordion-menu account-menu"
              data-accordion-menu=""
              aria-multiselectable="true"
              data-e="57g4iz-e"
              role="presentation"
            >
              <li
                class="is-accordion-submenu-parent ae-label"
                role="presentation"
                aria-controls="r5f68c-acc-menu"
                aria-expanded="false"
                id="97cr12-acc-menu-link"
              >
                <a
                  role="button"
                  tabindex="0"
                  class="show-for-small-only bar arrow"
                  id="account-menu"
                  >Account</a
                >
                <ul
                  class="menu vertical is-accordion-submenu submenu"
                  data-submenu=""
                  aria-labelledby="97cr12-acc-menu-link"
                  aria-hidden="false"
                  id="r5f68c-acc-menu"
                  style="display: none;"
                >
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope"
                  >
                    <a ui-sref="orders" href="/account/orders"
                      >Orders &amp; Tracking</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope active"
                  >
                    <a ui-sref="shoppingLists" href="/account/shopping-lists"
                      >Shopping Lists</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope"
                  >
                    <a
                      ui-sref="addressesAndPayment"
                      href="/account/addresses-and-payment"
                      >Address &amp; Payment</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope"
                  >
                    <a ui-sref="accountInfo" href="/account/account-info"
                      >Account Info</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope ng-hide"
                    aria-hidden="true"
                  >
                    <a
                      ui-sref="commercialAccounts"
                      href="/account/commercial-accounts"
                      >Commercial Accounts</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope"
                  >
                    <a ui-sref="support" href="/account/support">Support</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </aside>
        <section class="columns large-9" aria-labelledby="view-title">
          <ui-view
            on-display-messaging="$ctrl.displayMessages(messages)"
            class="ng-scope"
          >
            <shopping-list-component
              on-display-messaging="$ctrl.displayMessages(messages)"
              class="ng-scope ng-isolate-scope"
            >
              <div aria-hidden="false" class="">
                <header class="m-b-1" role="presentation">
                  <span id="view-title" role="heading" class="h2 highlight"
                    >Shopping Lists</span
                  >
                  <div class="float-right">
                    <button
                      type="button"
                      class="ae-button"
                      data-ae-blurbtype="button"
                      data-ae-form-field="true"
                    >
                      <span class="icon fa-plus"></span> Create a List
                    </button>
                  </div>
                </header>
                <section>
                  <shopping-list-results-component
                    shoppi
                    class="ng-isolate-scope"
                  >
                    <div
                      aria-label="Your shopping lists"
                      aria-hidden="false"
                      class=""
                    >
                      <ul class="shopping-lists ng-scope" role="presentation">
                        <li
                          aria-labelledby="list-d901e777d5704c0489afb95dc325419c-name"
                          class="ng-scope"
                        >
                          <a
                            ui-sref="shoppingListDetail({id: list.id})"
                            class="result"
                            href="/account/shopping-lists/d901e777d5704c0489afb95dc325419c"
                          >
                            <div class="row">
                              <div class="columns small-3 medium-2">
                                <figure>
                                  <img
                                    height="250"
                                    width="250"
                                    alt=""
                                    class="ng-scope ae-img"
                                    src="//media.musicarts.com/is/image/MMGS7/Yamaha-Silver/469068000232000-00-250x250.jpg"
                                  />
                                </figure>
                              </div>
                              <div class="columns small-9 medium-10">
                                <div>
                                  <strong class="ng-binding">test</strong>
                                </div>
                                <div class="ng-binding">
                                  Last Updated Date: 7/20/2020
                                </div>
                                <div class="ng-binding">1 Items</div>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </shopping-list-results-component>
                </section>
                <hr />
                <section>
                  <h3>Find Shopping Lists</h3>
                  <p>View a Shopping List created by someone else.</p>
                  <div>
                    <shopping-list-search-component class="ng-isolate-scope">
                      <form
                        id="shoppingListSearchForm"
                        name="shoppingListSearch"
                        aria-label="Search for public shopping lists"
                        novalidate=""
                        accessible-form=""
                        class="ng-pristine ng-invalid ng-invalid-required ae-form"
                      >
                        <div class="auto-format">
                          <div class="end">
                            <label
                              for="shoppingListlastNameOrEmail"
                              class="req ae-label"
                              >Last Name or Email</label
                            >
                            <input
                              id="shoppingListlastNameOrEmail"
                              type="text"
                              name="lastNameOrEmail"
                              class="label-top ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                              aria-required="true"
                              required=""
                              aria-invalid="true"
                              data-ae-blurbtype="input"
                              data-ae-form-field="true"
                            />
                          </div>
                          <div class="end">
                            <label for="shoppingListCity" class="ae-label"
                              >City</label
                            >
                            <input
                              id="shoppingListCity"
                              class="label-top ng-pristine ng-untouched ng-valid ng-empty"
                              type="text"
                              name="city"
                              aria-invalid="false"
                              data-ae-blurbtype="input"
                              data-ae-form-field="true"
                            />
                          </div>
                          <div class="end">
                            <label for="shoppingListState" class="ae-label"
                              >State</label
                            >
                            <select
                              name="state"
                              id="shoppingListState"
                              class="label-top ng-pristine ng-untouched ng-valid ng-empty"
                              aria-invalid="false"
                              data-ae-blurbtype="select"
                              data-ae-form-field="true"
                            >
                              <option value="" selected="selected">
                                Select</option
                              >
                              <option value="AK" class="ng-binding ng-scope">
                                AK
                              </option>
                              <option value="AL" class="ng-binding ng-scope">
                                AL
                              </option>
                              <option value="AR" class="ng-binding ng-scope">
                                AR
                              </option>
                              <option value="AZ" class="ng-binding ng-scope">
                                AZ
                              </option>
                              <option value="CA" class="ng-binding ng-scope">
                                CA
                              </option>
                              <option value="CO" class="ng-binding ng-scope">
                                CO
                              </option>
                              <option value="CT" class="ng-binding ng-scope">
                                CT
                              </option>
                              <option value="DC" class="ng-binding ng-scope">
                                DC
                              </option>
                              <option value="DE" class="ng-binding ng-scope">
                                DE
                              </option>
                              <option value="FL" class="ng-binding ng-scope">
                                FL
                              </option>
                              <option value="GA" class="ng-binding ng-scope">
                                GA
                              </option>
                              <option value="HI" class="ng-binding ng-scope">
                                HI
                              </option>
                              <option value="IA" class="ng-binding ng-scope">
                                IA
                              </option>
                              <option value="ID" class="ng-binding ng-scope">
                                ID
                              </option>
                              <option value="IL" class="ng-binding ng-scope">
                                IL
                              </option>
                              <option value="IN" class="ng-binding ng-scope">
                                IN
                              </option>
                              <option value="KS" class="ng-binding ng-scope">
                                KS
                              </option>
                              <option value="KY" class="ng-binding ng-scope">
                                KY
                              </option>
                              <option value="LA" class="ng-binding ng-scope">
                                LA
                              </option>
                              <option value="MA" class="ng-binding ng-scope">
                                MA
                              </option>
                              <option value="MD" class="ng-binding ng-scope">
                                MD
                              </option>
                              <option value="ME" class="ng-binding ng-scope">
                                ME
                              </option>
                              <option value="MI" class="ng-binding ng-scope">
                                MI
                              </option>
                              <option value="MN" class="ng-binding ng-scope">
                                MN
                              </option>
                              <option value="MO" class="ng-binding ng-scope">
                                MO
                              </option>
                              <option value="MS" class="ng-binding ng-scope">
                                MS
                              </option>
                              <option value="MT" class="ng-binding ng-scope">
                                MT
                              </option>
                              <option value="NC" class="ng-binding ng-scope">
                                NC
                              </option>
                              <option value="ND" class="ng-binding ng-scope">
                                ND
                              </option>
                              <option value="NE" class="ng-binding ng-scope">
                                NE
                              </option>
                              <option value="NH" class="ng-binding ng-scope">
                                NH
                              </option>
                              <option value="NJ" class="ng-binding ng-scope">
                                NJ
                              </option>
                              <option value="NM" class="ng-binding ng-scope">
                                NM
                              </option>
                              <option value="NV" class="ng-binding ng-scope">
                                NV
                              </option>
                              <option value="NY" class="ng-binding ng-scope">
                                NY
                              </option>
                              <option value="OH" class="ng-binding ng-scope">
                                OH
                              </option>
                              <option value="OK" class="ng-binding ng-scope">
                                OK
                              </option>
                              <option value="OR" class="ng-binding ng-scope">
                                OR
                              </option>
                              <option value="PA" class="ng-binding ng-scope">
                                PA
                              </option>
                              <option value="RI" class="ng-binding ng-scope">
                                RI
                              </option>
                              <option value="SC" class="ng-binding ng-scope">
                                SC
                              </option>
                              <option value="SD" class="ng-binding ng-scope">
                                SD
                              </option>
                              <option value="TN" class="ng-binding ng-scope">
                                TN
                              </option>
                              <option value="TX" class="ng-binding ng-scope">
                                TX
                              </option>
                              <option value="UT" class="ng-binding ng-scope">
                                UT
                              </option>
                              <option value="VA" class="ng-binding ng-scope">
                                VA
                              </option>
                              <option value="VI" class="ng-binding ng-scope">
                                VI
                              </option>
                              <option value="VT" class="ng-binding ng-scope">
                                VT
                              </option>
                              <option value="WA" class="ng-binding ng-scope">
                                WA
                              </option>
                              <option value="WI" class="ng-binding ng-scope">
                                WI
                              </option>
                              <option value="WV" class="ng-binding ng-scope">
                                WV
                              </option>
                              <option value="WY" class="ng-binding ng-scope">
                                WY
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="columns medium-6 end">
                            <button
                              class="primary expanded ae-button"
                              data-ae-blurbtype="button"
                              data-ae-form-field="true"
                            >
                              Search for Shopping List
                            </button>
                          </div>
                        </div>
                      </form>
                      <div class="ng-scope">
                        <shopping-list-search-results-component
                          results="$ctrl.searchResults"
                          is-email-search="$ctrl.isEmailSearch"
                          class="ng-isolate-scope"
                        >
                          <output
                            form="shoppingListSearchForm"
                            for="shoppingListlastNameOrEmail shoppingListCity shoppingListState"
                            aria-label="Shopping list search results"
                          >
                            <div aria-hidden="false">
                              <div class="h2 bar secondary m-t-1">
                                Results
                              </div>
                              <ul class="shopping-lists">
                                <li class="ng-scope">
                                  <a class="result" tabindex="0" role="button">
                                    <div>
                                      <strong class="ng-binding"
                                        >Rajani Test</strong
                                      >
                                    </div>
                                    <div class="ng-binding ng-scope">
                                      San Francisco, CA
                                    </div>
                                  </a>
                                </li>
                                <li class="ng-scope">
                                  <a class="result" tabindex="0" role="button">
                                    <div>
                                      <strong class="ng-binding"
                                        >Sam Test</strong
                                      >
                                    </div>
                                    <div class="ng-binding ng-scope">
                                      Hilltop, NJ
                                    </div>
                                  </a>
                                </li>
                                <li class="ng-scope">
                                  <a class="result" tabindex="0" role="button">
                                    <div>
                                      <strong class="ng-binding"
                                        >Test Test</strong
                                      >
                                    </div>
                                    <div class="ng-binding ng-scope">
                                      Beverly Hills, CA
                                    </div>
                                  </a>
                                </li>
                                <li class="ng-scope">
                                  <a class="result" tabindex="0" role="button">
                                    <div>
                                      <strong class="ng-binding"
                                        >Test Test</strong
                                      >
                                    </div>
                                  </a>
                                </li>
                                <li class="ng-scope">
                                  <a class="result" tabindex="0" role="button">
                                    <div>
                                      <strong class="ng-binding"
                                        >Test Test</strong
                                      >
                                    </div>
                                    <div class="ng-binding ng-scope">
                                      Frederick, MD
                                    </div>
                                  </a>
                                </li>
                                <li class="ng-scope">
                                  <a class="result" tabindex="0" role="button">
                                    <div>
                                      <strong class="ng-binding"
                                        >Whitehat Test</strong
                                      >
                                    </div>
                                    <div class="ng-binding ng-scope">
                                      Santa Clara, CA
                                    </div>
                                  </a>
                                </li>
                                <li class="ng-scope">
                                  <a class="result" tabindex="0" role="button">
                                    <div>
                                      <strong class="ng-binding"
                                        >Whs Test</strong
                                      >
                                    </div>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </output>
                          <hr />
                        </shopping-list-search-results-component>
                      </div>
                    </shopping-list-search-component>
                  </div>
                </section>
              </div>
            </shopping-list-component>
          </ui-view>
        </section>
      </div>
    </div>
  </div>
</div>
<hr />
<div id="main" class="main" role="main">
  <div class="row">
    <div class="content">
      <nav role="navigation">
        <ul class="breadcrumbs" aria-label="You are here:">
          <li><a ui-sref="orders" href="/account/orders">Account</a></li>
          <li class="ng-scope"><span class="current">Shopping Lists</span></li>
        </ul>
      </nav>
      <div class="row" aria-labelledby="page-title">
        <aside class="columns large-3">
          <h1
            id="page-title"
            class="show-for-medium ae-label"
            role="heading"
            aria-level="2"
          >
            Account
          </h1>
          <nav role="navigation">
            <ul
              class="vertical menu accordion-menu account-menu"
              data-accordion-menu=""
              aria-multiselectable="true"
              data-e="57g4iz-e"
              role="presentation"
            >
              <li
                class="is-accordion-submenu-parent ae-label"
                role="presentation"
                aria-controls="r5f68c-acc-menu"
                aria-expanded="false"
                id="97cr12-acc-menu-link"
              >
                <a
                  role="button"
                  tabindex="0"
                  class="show-for-small-only bar arrow"
                  id="account-menu"
                  >Account</a
                >
                <ul
                  class="menu vertical is-accordion-submenu submenu"
                  data-submenu=""
                  aria-labelledby="97cr12-acc-menu-link"
                  aria-hidden="false"
                  id="r5f68c-acc-menu"
                  style="display: none;"
                >
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope"
                  >
                    <a ui-sref="orders" href="/account/orders"
                      >Orders &amp; Tracking</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope active"
                  >
                    <a ui-sref="shoppingLists" href="/account/shopping-lists"
                      >Shopping Lists</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope"
                  >
                    <a
                      ui-sref="addressesAndPayment"
                      href="/account/addresses-and-payment"
                      >Address &amp; Payment</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope"
                  >
                    <a ui-sref="accountInfo" href="/account/account-info"
                      >Account Info</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope ng-hide"
                    aria-hidden="true"
                  >
                    <a
                      ui-sref="commercialAccounts"
                      href="/account/commercial-accounts"
                      >Commercial Accounts</a
                    >
                  </li>
                  <li
                    class="is-submenu-item is-accordion-submenu-item ng-scope"
                  >
                    <a ui-sref="support" href="/account/support">Support</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </aside>
        <section class="columns large-9" aria-labelledby="view-title">
          <ui-view
            on-display-messaging="$ctrl.displayMessages(messages)"
            class="ng-scope"
          >
            <shopping-list-detail-component
              on-display-messaging="$ctrl.displayMessages(messages)"
              customer="::$resolve.customer"
              class="ng-scope ng-isolate-scope"
            >
              <div class="row columns">
                <div class="h3">
                  <a
                    ui-sref="shoppingLists"
                    class="back-arrow"
                    href="/account/shopping-lists"
                    >Back to Shopping Lists</a
                  >
                </div>
              </div>

              <div class="row" aria-hidden="false">
                <div class="content">
                  <header role="presentation">
                    <div class="h2 highlight">
                      <span id="view-title" role="heading" class="ng-binding"
                        >test</span
                      >
                      <span>
                        <button
                          type="button"
                          class="small no-margin ae-button"
                          data-ae-blurbtype="button"
                          data-ae-form-field="true"
                        >
                          Edit Name
                        </button>
                      </span>
                    </div>
                  </header>
                  <section>
                    <form
                      name="editNameForm"
                      ng-if="$ctrl.isEditingName"
                      aria-label="Change name of shopping list"
                      novalidate=""
                      accessible-form=""
                      class="ng-pristine ng-valid ng-scope ng-valid-required ae-form"
                    >
                      <div class="auto-format">
                        <div class="end">
                          <label for="name" class="sr-only ae-label"
                            >Name</label
                          >
                          <input
                            type="text"
                            name="name"
                            ng-model="$ctrl.newName"
                            class="label-top ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"
                            ng-class="{'input-validation-error': editNameForm.name.$invalid &amp;&amp; (editNameForm.$submitted || editNameForm.name.$touched)}"
                            aria-required="true"
                            ng-attr-aria-describedby="{{ editNameForm.name.$invalid &amp;&amp; (editNameForm.$submitted || editNameForm.name.$touched) ? 'errMsg_Name' :undefined }}"
                            required=""
                            aria-invalid="false"
                            data-ae-blurbtype="input"
                            data-ae-form-field="true"
                          />
                          <!-- ngIf: editNameForm.name.$invalid && (editNameForm.$submitted || editNameForm.name.$touched) -->
                        </div>
                        <div class="end">
                          <button
                            type="button"
                            ng-click="$ctrl.cancelEditName()"
                            class="ae-button"
                            data-ae-blurbtype="button"
                            data-ae-form-field="true"
                          >
                            Cancel
                          </button>
                          <button
                            type="submit"
                            class="primary float-right ae-button"
                            ng-click="$ctrl.saveEditName(editNameForm)"
                            data-ae-blurbtype="button"
                            data-ae-form-field="true"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                    </form>
                    <p class="ng-binding">Last Updated Date: 7/20/2020</p>

                    <ul class="display-options">
                      <li class="left">
                        <label class="ae-label">
                          <input
                            type="radio"
                            name="isPublic"
                            class="ng-pristine ng-untouched ng-valid ng-not-empty"
                            value="true"
                            aria-invalid="false"
                            data-ae-form-field="true"
                          />
                          Public
                        </label>
                      </li>
                      <li class="left">
                        <label class="ae-label">
                          <input
                            type="radio"
                            name="isPublic"
                            class="ng-pristine ng-untouched ng-valid ng-not-empty"
                            value="false"
                            aria-invalid="false"
                            data-ae-form-field="true"
                          />
                          Private
                        </label>
                      </li>
                      <li class="right" uses-foundation="">
                        <button
                          class="link color-primary ae-button"
                          type="button"
                          data-toggle="listActions"
                          aria-controls="listActions"
                          data-is-focus="false"
                          data-yeti-box="listActions"
                          aria-haspopup="true"
                          aria-expanded="false"
                          data-ae-blurbtype="button"
                          data-ae-form-field="true"
                        >
                          List Actions
                          <span
                            class="icon fa-caret-down"
                            aria-hidden="true"
                          ></span>
                        </button>
                        <ul
                          class="dropdown-pane list auto"
                          data-position="bottom"
                          data-alignment="right"
                          id="listActions"
                          data-dropdown=""
                          data-auto-focus="true"
                          data-close-on-click="true"
                          aria-hidden="false"
                          data-yeti-box="listActions"
                          data-resize="listActions"
                          aria-labelledby="5k00it-dd-anchor"
                          data-e="c3etxl-e"
                        >
                          <li aria-hidden="false" class="">
                            <button
                              class="link text-left ae-button"
                              type="button"
                              data-close="listActions"
                              data-ae-blurbtype="button"
                              data-ae-form-field="true"
                            >
                              Add to Cart
                            </button>
                          </li>

                          <li aria-hidden="true" class="ng-hide">
                            <button
                              class="link text-left ae-button"
                              type="button"
                              data-close="listActions"
                              data-ae-blurbtype="button"
                              data-ae-form-field="true"
                            >
                              Share
                            </button>
                          </li>
                          <li aria-hidden="false" class="">
                            <button
                              class="link text-left ae-button"
                              type="button"
                              data-close="listActions"
                              data-ae-blurbtype="button"
                              data-ae-form-field="true"
                            >
                              Copy
                            </button>
                          </li>
                          <li>
                            <button
                              class="link text-left ae-button"
                              type="button"
                              data-close="listActions"
                              data-ae-blurbtype="button"
                              data-ae-form-field="true"
                            >
                              Delete
                            </button>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <div aria-hidden="true" class="ng-hide">
                      <p class="m-t-1">
                        You do not have any items in this Shopping List.
                      </p>
                      <p>
                        <a href="/" class="button primary">Start Shopping</a>
                      </p>
                    </div>

                    <div id="cart" class="cart ng-scope">
                      <div class="cart-items-header">
                        <div id="items-header" class="items-header ae-label">
                          Your Items
                        </div>
                        <div class="cost-info">
                          <div
                            id="unit-price-header"
                            class="unit-price-header ae-label"
                          >
                            Unit Price
                          </div>
                          <div
                            id="quantity-header"
                            class="quantity-header ae-label"
                          >
                            Quantity
                          </div>
                          <div id="total-header" class="total-header ae-label">
                            Total Price
                          </div>
                        </div>
                      </div>
                      <ul
                        class="cart-items"
                        id="shoppingListItems"
                        role="presentation"
                      >
                        <li class="pos-reference ng-scope" role="presentation">
                          <div class="actions" uses-foundation="">
                            <div class="inline">
                              <button
                                class="remove ae-button"
                                type="button"
                                data-ae-blurbtype="button"
                                data-ae-form-field="true"
                              >
                                Remove Item
                              </button>
                            </div>
                            <div class="inline float-right text-right">
                              <button
                                class="link ae-button"
                                type="button"
                                data-toggle="moveToList_900"
                                aria-hidden="false"
                                aria-controls="moveToList_900"
                                data-is-focus="false"
                                data-yeti-box="moveToList_900"
                                aria-haspopup="true"
                                aria-expanded="false"
                                data-ae-blurbtype="button"
                                data-ae-form-field="true"
                              >
                                Move or copy to…
                                <span
                                  class="icon fa-caret-down"
                                  aria-hidden="true"
                                ></span>
                              </button>
                            </div>
                            <ul
                              class="dropdown-pane list auto"
                              data-position="bottom"
                              data-alignment="right"
                              id="moveToList_900"
                              data-dropdown=""
                              data-auto-focus="true"
                              data-close-on-click="true"
                              aria-hidden="false"
                              data-yeti-box="moveToList_900"
                              data-resize="moveToList_900"
                              aria-labelledby="sinibd-dd-anchor"
                              data-e="5mqlpq-e"
                              role="presentation"
                            >
                              <li>
                                <button
                                  class="link text-left ae-button"
                                  type="button"
                                  data-close="moveToList_900"
                                  data-ae-blurbtype="button"
                                  data-ae-form-field="true"
                                >
                                  Create New List
                                </button>
                              </li>
                            </ul>
                          </div>
                          <div class="product" aria-labelledby="items-header">
                            <figure>
                              <a
                                href="/yamaha-ymp-204m-series-marching-f-mellophone-main0135490"
                              >
                                <img
                                  height="250"
                                  width="250"
                                  alt="Yamaha YMP-204M Series Marching F Mellophone"
                                  src="//media.musicarts.com/is/image/MMGS7/Yamaha-Silver/469068000232000-00-250x250.jpg"
                                  class="ae-img"
                                />
                              </a>
                            </figure>
                            <div class="product-info">
                              <p class="name">
                                <a
                                  class="ng-binding"
                                  href="/yamaha-ymp-204m-series-marching-f-mellophone-main0135490"
                                  >Yamaha YMP-204M Series Marching F
                                  Mellophone</a
                                >
                              </p>
                              <ul class="product-numbers">
                                <li class="ng-binding">Item # 0071910</li>
                                <li class="ng-binding">Model # YMP-204MS</li>
                              </ul>
                              <ul class="product-additional">
                                <li><strong>Condition:</strong> New</li>
                                <li class="ng-binding">
                                  <strong>Option:</strong> Silver
                                </li>
                              </ul>
                              <ul class="product-additional">
                                <li class="ng-binding">
                                  <strong>Date Added:</strong> Jul 20, 2020
                                </li>
                                <li class="ng-binding">
                                  <strong>Availability:</strong> In stock
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="cost-info">
                            <div
                              class="unit-price"
                              aria-labelledby="unit-price-header"
                            >
                              <p class="price ng-binding">$1,949.99</p>
                            </div>
                            <div
                              class="quantity"
                              aria-labelledby="quantity-header"
                            >
                              <item-quantity-selector
                                item="item"
                                quantity="item.quantity"
                                onchangeqty="$ctrl.changedQuantity($ctrl.shoppingList.id, item)"
                                ondelete="$ctrl.openRemoveItemModal($ctrl.shoppingList.id, item.id)"
                                class="ng-isolate-scope"
                              >
                                <select
                                  id="qtySelectorSelect-4c1d9a903b9a41978dd43a0e1a838bbe"
                                  class="ng-pristine ng-untouched ng-valid ng-not-empty"
                                  aria-hidden="false"
                                  aria-invalid="false"
                                  data-ae-blurbtype="select"
                                  data-ae-form-field="true"
                                >
                                  <option value="1" selected="selected"
                                    >1
                                  </option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10+</option>
                                </select>
                                <input
                                  id="qtySelectorInput-4c1d9a903b9a41978dd43a0e1a838bbe"
                                  type="text"
                                  required=""
                                  class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required is-hidden"
                                  aria-hidden="false"
                                  aria-invalid="false"
                                  data-ae-blurbtype="input"
                                  data-ae-form-field="true"
                                />
                                <p aria-hidden="true" class="ng-hide">
                                  <b class="ng-binding">1</b>
                                </p>

                                <p class="ng-scope">
                                  <button
                                    class="remove link ae-button"
                                    aria-hidden="false"
                                    aria-label="Remove Promo Code"
                                    data-ae-blurbtype="button"
                                    data-ae-form-field="true"
                                  >
                                    Remove
                                  </button>
                                  <button
                                    class="link ng-hide ae-button"
                                    aria-hidden="true"
                                    data-ae-blurbtype="button"
                                    data-ae-form-field="true"
                                  >
                                    Update
                                  </button>
                                </p>
                              </item-quantity-selector>
                            </div>
                            <div
                              class="total price"
                              aria-labelledby="total-header"
                            >
                              <div class="ng-binding">$1,949.99</div>
                            </div>
                            <button
                              class="primary add-to-cart small ae-button"
                              type="button"
                              data-ae-blurbtype="button"
                              data-ae-form-field="true"
                            >
                              Add to Cart
                            </button>
                          </div>
                        </li>
                      </ul>
                      <hr class="heavy tight" />
                      <button
                        class="primary large expanded ae-button"
                        type="button"
                        aria-hidden="false"
                        data-ae-blurbtype="button"
                        data-ae-form-field="true"
                      >
                        Add All Items to Cart
                      </button>
                    </div>
                  </section>
                </div>
              </div>
            </shopping-list-detail-component>
          </ui-view>
        </section>
      </div>
    </div>
  </div>
</div>
